@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Lato", sans-serif;
}

.navmenu {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu {
    text-transform: uppercase;
    color: rgb(134, 134, 134);
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
}

.menu:hover {
    pointer-events: all;
}

.label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
}

.spacer {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgb(134, 134, 134);
    height: 1px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
}

.item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
}

.item a {
    text-decoration: none;
    color: rgb(134, 134, 134);
}

span {
    transition: color 0.5s ease;
}

.item:hover a {
    color: rgb(226, 142, 73);
}

.menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}

.menu:hover .item {
    opacity: 1;
    top: 0px;
}

.item:nth-child(1) {
    transition-delay: 0.45s;
}

.item:nth-child(2) {
    transition-delay: 0.4s;
}

.item:nth-child(3) {
    transition-delay: 0.35s;
}

.item:nth-child(4) {
    transition-delay: 0.3s;
}

.item:nth-child(5) {
    transition-delay: 0.25s;
}

.item:nth-child(6) {
    transition-delay: 0.2s;
}

.item:nth-child(7) {
    transition-delay: 0.15s;
}

.item:nth-child(8) {
    transition-delay: 0.1s;
}

.item:nth-child(9) {
    transition-delay: 0.05s;
}

.item:nth-child(10) {
    transition-delay: 0s;
}

.menu:hover .item:nth-child(1) {
    transition-delay: 0.25s;
}

.menu:hover .item:nth-child(2) {
    transition-delay: 0.3s;
}

.menu:hover .item:nth-child(3) {
    transition-delay: 0.35s;
}

.menu:hover .item:nth-child(4) {
    transition-delay: 0.4s;
}

.menu:hover .item:nth-child(5) {
    transition-delay: 0.45s;
}

.menu:hover .item:nth-child(6) {
    transition-delay: 0.5s;
}

.menu:hover .item:nth-child(7) {
    transition-delay: 0.55s;
}

.menu:hover .item:nth-child(8) {
    transition-delay: 0.6s;
}

.menu:hover .item:nth-child(9) {
    transition-delay: 0.65s;
}

.menu:hover .item:nth-child(10) {
    transition-delay: 0.7s;
}

.hometitle {
    font-size: 100px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 10rem;
    margin-left: 5rem;
}

#landing {
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1561226765-c625d12a9202?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
}

.landingimg {
    height: 100px;
    width: 120px;
}

.landingsubt {
    font-size: 45px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 1.5rem;
    margin-left: 10px;
}

.landingcon {
    display: flex;
}

#Intro {
    height: 125vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.Ititle {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: rgb(226, 142, 73);
    padding-top: 5rem;
    margin-left: 5rem;
}

.introwords {

    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding-top: 5rem;
    margin-left: 5rem;
}

.introwords2 {
    text-align: right;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding-top: 10rem;
    margin-right: 5rem;
}

.introimg {
    float: right;
    height: 450px;
    width: 750px;
    margin-right: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.introimg2 {
    float: left;
    height: 450px;
    width: 750px;
    margin-top: 5rem;
    margin-left: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Issues {
    height: 75vh;
    width: 100%;

}

.IStitle {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 5rem;
    margin-left: 5rem;
}

.icon1 {
    color: rgb(158, 152, 152);
    margin-top: 5rem;
    margin-left: 22rem;
}

.icon2 {
    color: rgb(1, 78, 20);
    margin-top: 5rem;
    margin-left: 25rem;
}

.issuestext1 {
    font-weight: 300;
    font-family: 'lato'sans-serif;
    font-size: 25px;
    margin-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
}

.issuestext2 {
    font-weight: 300;
    font-family: 'lato'sans-serif;
    font-size: 25px;
    margin-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
}

#Timeline {
    height: 100vh;
    width: 100%;

}

.Ttitle {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: #2d82bb;
    padding-top: 5rem;
    margin-left: 5rem;
}

#Figures {
    height: 65vh;
    width: 100%;
    background-color: rgb(248, 248, 248);
}

.Ftitle {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    padding-top: 5rem;
    margin-left: 5rem;
}

.figimg {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 15rem;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Figures p {
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-align: center;
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

#Solutions {
    height: 100vh;
    width: 100%;

}

.Stitle {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: #e74c3c;
    padding-top: 5rem;
    margin-left: 5rem;
}

#Recommendations {
    height: 90vh;
    width: 100%;
    background-color: white;
}

.Rtitle {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    padding-top: 5rem;
    margin-left: 5rem;
}

.r1 {
    text-align: center;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgb(0, 0, 0);
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 25px;
    border-right: 4px solid #000000;
}

.r2 {
    text-align: center;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgb(0, 0, 0);
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.closingstatement {
    font-family: 'lato', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 7rem;
    color: #000000;
}

.ricon1 {
    color: black;

}


.title {
    color: #0a4870;
    font-weight: 500;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

ul .booking-card {
    position: relative;
    width: 300px;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #0a4870;
    transition: 0.3s;
}

ul .booking-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 72, 112, 0);
    transition: 0.3s;
}

ul .booking-card .book-container {
    height: 300px;
}



ul .booking-card .informations-container {
    flex: 1 0 auto;
    padding: 20px;
    background: #f0f0f0;
    transform: translateY(130px);
    transition: 0.3s;

}

ul .booking-card .informations-container .title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

ul .booking-card .informations-container .title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 50px;
    margin: auto;
    background: #0a4870;
}

ul .booking-card .informations-container .price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

ul .booking-card .informations-container .price .icon {
    margin-right: 10px;
}



ul .booking-card:hover::before {
    background: rgba(0, 0, 0, 0.6);
}


ul .booking-card:hover .informations-container {
    transform: translateY(0px);
}



@media (max-width: 768px) {
    ul .booking-card::before {
        background: rgba(10, 72, 112, 0.6);
    }


    ul .booking-card .informations-container {
        transform: translateY(0px);
    }

    ul .booking-card .informations-container .more-information {
        opacity: 1;
    }

}

ul .booking-card .informations-container .more-information {
    opacity: 0;
    transition: 0.3s;
}





ul .booking-card .informations-container .more-information .disclaimer {
    margin-top: 20px;
    font-size: 1em;
    color: #000000;
}

ul .booking-card:hover .informations-container .more-information {
    opacity: 1;
}


.containertime {
    margin-left: 5.7rem;
    padding: 0;
    font-family: "Lato", sans-serif;
    padding-top: 5rem;
}

.jmleg {
    margin-left: 32rem;
}


ul {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    box-sizing: border-box;
}

.das {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: #000000;
    cursor: pointer;
    transition: all 0.5s ease;
}

.asd {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: #000000;
    cursor: pointer;
    transition: all 0.5s ease;
}

.asd:hover {
    background: #1b1b1ba6;
}

li.active {
    flex: 5;
    background: #1b1b1ba6;
    cursor: default;
}

li.active h2 {
    color: #e74c3c;
}

li.active .section-content {
    flex: 4;
    opacity: 1;
    transform: scaleX(1);
    color: #ffffff;
    display: grid;
    text-align: center;
}

li .section-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

li .section-title h2 {
    font-weight: 900;
    font-family: 'lato', sans-serif;
    font-size: 30px;
    margin: 0;
    transform: rotate(-90deg);
    white-space: nowrap;
    color: #e74c3c;
}


li .section-content {
    font-weight: 300;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.25s 0.1s ease-out;
}

.solutionicon {
    color: white;
    margin-bottom: 35rem;
}


.soltext {
    position: absolute;
}

.solutionissue {
    position: absolute;
    margin-bottom: 25rem;
    margin-left: 9.6rem;
}

.solutionT {
    position: absolute;
    margin-bottom: 20rem;
    margin-left: 8.9rem;
}

.solutionissue1 {
    position: absolute;
    margin-bottom: 25rem;
    margin-left: 6.2rem;
}

.solutionT1 {
    position: absolute;
    margin-bottom: 20rem;
    margin-left: 5.5rem;
}

.solutionissue2 {
    position: absolute;
    margin-bottom: 25rem;
    margin-left: 7.2rem;
}

.solutionT2 {
    position: absolute;
    margin-bottom: 20rem;
    margin-left: 8.2rem;
}